<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="main.css" type="text/css" rel="stylesheet">
    <style>
        .operation{
            height: 100vh;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="operation" id="operation">
        <a href="/add/customer"><button>add customer</button></a>
        <a href="/query/goods"><button>query goods</button></a>
        <a href="/join_query"><button>join query</button></a>
        <a href="/nested_query"><button>nested query</button></a>
        <a href="/delete"><button>delete</button></a>
        <a href="/group_query"><button>group query</button></a>
        <a href="/create_view"><button>create_view</button></a>
    </div>
</body>
</html>