<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>查询商品</h1>
    <form method="post" action="/query/goods">
        <input type="text" name="goodsid" placeholder="goodsid">
        <input type="submit" value="提 交">
    </form>
</body>
</html>